<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>

<body>
    <h3>Edit your Listing</h3>
    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT"></form>
        <input name="listing[title]" type="text" value="<%= listing.title %>" />
        <br />
        <textarea name="listing[description]" cols="30" rows="10"><%= listing.description %></textarea><br />
        <input name="image" value="<%= listing.image %>" />
        <br />
        <input name="price" type="Number" value="<%= listing.price %>" />
        <br />
        <input name="country" type="text" value="<%= listing.country %>" />
        <br />
        <input name="location" type="text" value="<%= listing.location %>" />
        <br />
        <button type="submit">EDIT</button>
    
</body>

</html>
